{% extends 'base.html' %}
{% import 'macros.html' as macro%}

{% block styles %}

    {{ super() }}

    <link rel="stylesheet" href="{{url_for('static',filename='css/source.css')}}">

{% endblock %}

<!-- Content Block -->
{% block content %}
<!-- <style>
body{
  background: #878787;
  box-shadow:  0 0 10px #000;
}
</style> -->

<div class="container">
  <!-- <div class="row"> -->
    <h3>{{souce_id}} </h3>
    <h3 class="text-center">ARTICLES </h3>
    <hr>
      <ul class="list-unstyled">
        {{ macro.displayArticles(article)}}
      </ul>
    
    
  <!-- </div> -->
</div>




{% endblock %}